/@/*
/node_modules/*
/custom/app/*/
!/custom/app/.gitkeep 
/custom/config/@/*
!/custom/config/@/.gitkeep
/custom/config/proc/*
!/custom/config/proc/.gitkeep  
/custom/config/custom.yml
/custom/config/env.yml
/.complete
/.cache
/complete.sh