# La siguiente variable de entorno establece la ruta en donde están creados tus proyectos y será montada dentro del contenedor.
# Es importante que aquellos proyectos que necesites gestionar con la aplicación, estén alojados en el mismo directorio.
APPSETTING_SOURCE_IMAGE=ubuntu:24.04
APPSETTING_PROJECTS_PATH=/home/${USER}/project
